.container {
	padding-top: 10px;
}

.form-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(91, 152, 219, 0.1);
}

.form-container .mt-4 {
	margin-top: 1rem;
}

.form-container .mt-3 {
	margin-top: 0.75rem;
}
